body {
    margin: 0px;
    padding: 0px;
    font-family: 'Baloo Bhaijaan 2', cursive;
}

.container {
    background: radial-gradient(rgb(255, 255, 255) 30%, rgba(0, 21, 255, 0.178));
    width: 60%;
    margin: 100px auto;
    padding: 25px;
    border: 2px solid rgb(47, 0, 190);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container label {
    display: block;
    font-size: 1.2rem;
}

#contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-grp input {
    text-align: center;
    width: 55vw;
    padding: 5px;
    margin: 11px auto;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 10px;
    font-family: 'Baloo Bhaijaan 2', cursive;
}

.formGrp input {
    text-align: center;
    width: 20vw;
    padding: 5px;
    margin: 11px 50px;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 10px;
    font-family: 'Baloo Bhaijaan 2', cursive;
}

#traveler-details {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.T-form-grp {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 12vw;
}

.T-form-grp input {
    text-align: center;
    width: 10vw;
    padding: 5px;
    margin: 4px 10px;
    font-size: 13px;
    border: 2px solid black;
    border-radius: 10px;
    font-family: 'Baloo Bhaijaan 2', cursive;
}


#submitBtn {
    display: none;
    margin: 5vh auto;
    transition: all;
    transition-duration: .3s;
}

.btn {

    background: rgb(0, 21, 255);
    color: white;
    padding-top: 2px;
    border: 2px solid transparent;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Baloo Bhaijaan 2', cursive;
    display: block;
    padding: 7px;
    transition: all;
    transition-duration: .4s;
}

.btn:hover {
    background-color: white;
    color: rgb(0, 21, 255);
    border: 2px solid rgb(0, 21, 255);
    border-radius: 100px;
}