/* CSS RESET */

* {
  margin: 0;
  padding: 0;
  /* font-family: 'Baloo Bhaijaan 2', cursive; */

}

html {
  scroll-behavior: smooth;
}

/* Video Sectio */

#bg-video {
  position: absolute;
  width: 100%;
  top: -229px;
  right: 0px;
  z-index: -1;
  object-position: center;
  object-fit: cover;
  /* opacity: 0.5; */
  /* filter: blur(2px); */
  /* filter:brightness(75%); */
}

/* NAVIGATION BAR SECTION */

#navbar {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 5;
}

#navbar::before {
  content: "";
  background-color: rgb(47, 0, 190);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  /* opacity: .5; */
}

/* NAVIGATION BAR LOGO SECTION  */

#logo {
  margin: 3px 30px;
}

#logo img {
  height: 80px;
  margin: 5px;
  transition-property: all;
  transition-duration: .4s;
}

#logo img:hover {
  cursor: pointer;
  /* transform:scale(1.5); */
  transform: translateY(10px) scale(1.5);
}

/* NAVIGATION BAR LIST SECTION  */

#navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 17px;
}

#navbar ul li {
  list-style: none;
  font-size: 1.2rem;
}

#navbar ul li a {
  color: rgb(255, 255, 255);
  display: block;
  padding: 3px 30px;
  text-decoration: none;
  border-radius: 30px;
  transition-property: all;
  transition-duration: .4s;
}

#navbar ul li a:hover {
  color: rgb(47, 0, 190);
  background-color: white;
  transform: scale(1.2) translate3d(0px, -5px, 0px);
}

#btn-grp {
  position: absolute;
  right: 10px;
}

#btn-grp a {
  color: white;
  padding: 5px 20px;
  margin: 0px 12px;
  border: 2px solid white;
  font-size: 1.4rem;
  text-decoration: none;
  transition-property: all;
  transition-duration: .4s;
}

#btn-grp a:hover {
  color: rgb(47, 0, 190);
  border-radius: 100px;
  background-color: white;
  transform: scale(2);
}

/* Home Section */

#home {
  display: flex;
  flex-direction: column;
  padding: 3px 200px;
  height: 305px;
  justify-content: center;
  align-items: center;
  margin-bottom: 300px;
  margin-top: 150px;
}

#home h1 {
  font-size: 7rem;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-align: center;
  transition-property: all;
  transition-duration: .4s;
}

#home h1:hover {
  -webkit-text-stroke: 2px white;
  color: transparent;
  cursor: none;
}

#arrow {
  position: absolute;
  bottom: 50px;
  /* right: 10px; */
  /* border: 2px solid white; */
  /* background:white; */
  border-radius: 50px;

}

#arrow svg {
  padding-top: 3px;
  color: white;
}

/* Packages section */
#packages-container {
  /* background-color: rgba(139, 230, 230, 0.218); */
  /* background:linear-gradient(to left top, rgba(0, 0, 255, 0.351), rgba(255, 255, 255, 0.312)); */
  background: linear-gradient(to top left, rgba(255, 255, 255, 0.312), rgba(95, 108, 255, 0.351));
  /* background:linear-gradient(-90deg,rgba(255, 255, 255, 0.312) ,rgba(95, 108, 255, 0.351) ); */

}

#packages {
  margin: 34px;
  margin-bottom: 0px;
  display: flex;
  flex-wrap: wrap;
}

#packages-container h1 {
  margin: 34px;
  margin-top: 30px;

}

#packages .box {
  height: 550px;
  width: 400px;
  border: 2px solid rgb(47, 0, 190);
  padding: 3px;
  margin: 3px 41px;
  margin-bottom: 40px;
  border-radius: 28px;
  background-color: rgba(6, 99, 248, 0.082);
  box-shadow: 0px 0px 40px -2px grey;
  transition-property: all;
  transition-duration: .3s;
}

#packages .box:hover {
  box-shadow: 0px 0px 50px 2px grey;
  border: 3px solid rgb(47, 0, 190);
  transform: scale(1.1);
  z-index: 2;
  cursor: pointer;
}

#packages .box img {
  /* width: 300px; */
  height: 200px;
  display: block;
  margin: 0px 100px;
  margin-top: 10px;
  margin-left: 45px;
  /* padding:10px 100px; */
  border-radius: 10px;
}

#packages .box p {
  font-family: 'Baloo Bhaijaan 2', cursive;
  font-size: 1.1rem;
  margin-bottom: 0rem;
}

#packages .box span {
  font-family: 'Baloo Bhaijaan 2', cursive;
  padding: 2px 10px;
  font-size: 23px;
  margin-top: 100px;
  /* color: white; */
  border-radius: 10px;
  /* background-color: rgba(5, 50, 255, 0.352); */
  margin-left: 20px;
}

.bookBtn {
  padding: 6px 10px;
  border: 2px solid transparent;
  background-color: rgb(47, 0, 190);
  color: white;
  margin: 30px 20px;
  /* margin-top: 30px; */
  font-size: 1.5rem;
  border-radius: 10px;
  cursor: pointer;
  transition-property: all;
  transition-duration: .3s;
}

.bookBtn:hover {
  color: rgb(47, 0, 190);
  border-radius: 100px;
  border: 2px solid rgb(47, 0, 190);
  background-color: white;

}

/* Guidance Section */
#guidance {
  background-color: rgb(242 242 242);
  padding: 20px;
}

#guidance h1 {
  margin: 32px auto;
  margin-bottom: 50px;
}

#guidance hr {
  padding: 0%;
  border: 1px solid black;
  color: black;
  width: 18%;
  margin: 50px auto;
}

#guidance p {
  font-size: 1.5rem;
  font-family: 'Baloo Bhaijaan 2', cursive;

}

/* Contact section */
#contact-container {
  background-color: rgba(126, 196, 189, 0.504);
  background-image: linear-gradient(rgba(126, 196, 189, 0.651), rgba(126, 196, 189, 0.64)), url("/img/contact.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto, cover;
}

#contact {
  display: flex;
  justify-content: center;
}

#contact .box {
  height: auto;
  width: 300px;
  /* border: 2px solid rgb(47, 0, 190); */
  padding: 3px;
  margin: 3px 41px;
  margin-bottom: 40px;
  border-radius: 28px;
  /* background-color: rgba(6, 99, 248, 0.082); */
  /* box-shadow: 0px 0px 40px -2px grey; */
  transition-property: all;
  transition-duration: .3s;
}

#contact .box img {
  /* width: 300px; */
  height: 90px;
  display: block;
  margin: 20px auto;
  margin-bottom: 40px;
  /* margin-top: 10px;
  margin-left: 45px; */
  /* padding:10px 100px; */
  border-radius: 10px;
}

#contact .box h2 {
  font-weight: 400;
  font-size: 1.1rem;
}

#contact-container h1 {
  margin: 30px auto;
  font-weight: 100;
  font-size: 2.5rem;
  text-emphasis: bold;
  padding: 5px;
  /* font-family: 'Baloo Bhaijaan 2', cursive; */
}

#contact-container hr {
  padding: 0%;
  border: 1px solid black;
  color: black;
  width: 18%;
  margin: 50px auto;
}

#contact .box a {
  display: block;
  margin: 5px auto;
  margin-top: -13px;
  font-size: 1.1rem;
  color: black;
}

#contact .box svg {
  margin: 10px auto;
  /* margin-top:-13px;
  font-size: 1.1rem;
  color: black; */
}

/* footer Section */

footer {
  font-size: 1.2rem;
  background: black;
  color: white;
  padding: 9px 20px;
  font-family: 'Baloo Bhaijaan 2', cursive;
}

/* Utility classes */

.h-primary {
  font-size: 3rem;
  text-emphasis: bold;
  padding: 5px;
  font-family: 'Baloo Bhaijaan 2', cursive;


}

.h-secondary {
  font-size: 2.5rem;
  padding: 12px;
  font-family: 'Baloo Bhaijaan 2', cursive;

}

.center {
  text-align: center;
}