body {
    background-color: black;
    font-family: 'Baloo Bhaijaan 2', cursive;
    color: white;
    margin: 0px;
    padding: 0px;
    
}
header{
    color: transparent;
}
header::before{
    content: "";
    background: url('/img/van\ bg.jpg') no-repeat center;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index:-1;
    opacity: 0.5;
    filter: blur(2px);
    /* -webkit-filter: blur(3px); */
}
.container {
    display: block;
    border: 2px solid rgb(255, 255, 255);
    margin: 106px auto;
    padding: 75px;
    width: 28%;
    border-radius: 20px;
    /* background-color: rgba(222, 184, 135, 0.452); */
}

.btn {

    background-color: beige;
    color: rgb(3, 3, 3);
    padding-top: 2px;
    border: 2px solid gray;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    font-family: 'Baloo Bhaijaan 2', cursive;
    line-height: 35px;}

.btn:hover {
    background-color: burlywood;
}
.form-grp input {
    text-align: center;
    display: block;
    width: 299px;
    padding: 9px;
    margin: 11px auto;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 10px;
    font-family: 'Baloo Bhaijaan 2', cursive;
}

.container button {
    display: block;
    width: 240px;
    margin: 4% auto;
    font-size: 25px;
}

.container h1 {
    text-align: center;
    color: white;
    /* color: rgb(0, 0, 0); */
    font-size: 3rem;
    margin-top: -30px;
}
a{
    color: rgb(255, 255, 255);
}
#signup{
    text-decoration: none;
}