body {
    margin: 0px;
    padding: 0px;
    background-color: black;
    font-family: 'Baloo Bhaijaan 2', cursive;
    color: white;

}

header {
    color: transparent;
}

header::before {
    content: "";
    background: url('/img/rocks.jpg') no-repeat center;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 107%;
    z-index: -1;
    /* opacity: 0.8; */
    /* filter: blur(2px); */
    /* -webkit-filter: blur(3px); */
}

.container {
    /* color: black; */
    background-color: #61737d7f;
    display: block;
    border: 2px solid rgb(255, 255, 255);
    margin: 106px auto;
    padding: 75px;
    width: 40%;
    border-radius: 20px;
    /* background-color: rgba(222, 184, 135, 0.452); */
}

.btn {

    background-color: beige;
    color: rgb(3, 3, 3);
    padding-top: 2px;
    border: 2px solid gray;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    font-family: 'Baloo Bhaijaan 2', cursive;
    line-height: 35px;
    display: block;
    width: 110px;
    margin: 6% auto;
    font-size: 20px;
    margin-bottom: -4px;
}

.btn:hover {
    background-color: transparent;
    color: white;
}
.form-grp input {
    text-align: center;
    /* display: block; */
    width: 299px;
    padding: 5px;
    margin: 11px auto;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 10px;
    font-family: 'Baloo Bhaijaan 2', cursive;
}
/* .container button {
    display: block;
    width: 190px;
    margin: 4% auto;
    font-size: 25px;
} */
.container h1 {
    text-align: center;
    color: white;
    /* color: rgb(0, 0, 0); */
    font-size: 3rem;
    margin-top: -50px;
}
label{
    font-size: 20px;
    font-weight: bold;
    /* text-decoration:underline; */
}
#email{
    margin-left: 91px;
}
#sn{
    margin-left: 68px;
    
}
#fn{
    margin-left: 66px;
    
}
#pass{
    margin-left: 80px;
    
}
#phnNum{
    margin-left: 20px;
    
}
#cPass{
    margin-left: 7px;

}